# Supabase environment variables
NEXT_PUBLIC_SUPABASE_URL=https://loqquojtcseclovawyii.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__jplPI9NSrcFGP-QPD_Pqw_2-m_IHmf

# Optional compatibility variable
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__jplPI9NSrcFGP-QPD_Pqw_2-m_IHmf
